{{! log in form }}
<form class='login-form mx-5'>
  <div>
    <label for='email-login' class="form label">email:</label>
    <input type='text' id='email-login' class="login-signup form-control form-control-sm"/>
  </div>
  <div>
    <label for='password-login' class="form label">password:</label>
    <input type='password' id='password-login' class="login-signup form-control form-control-sm"/>
  </div>
  <div>
    <button type='submit' class="btn btn-primary mt-3">login</button>
  </div>
</form>

{{! sign up form }}
<form class='signup-form mx-5'>
  <div>
    <label for='username-signup' class="form label">username:</label>
    <input type='text' id='username-signup' class="login-signup form-control form-control-sm" />
  </div>
  <div>
    <label for='email-signup' class="form label">email:</label>
    <input type='text' id='email-signup' class="login-signup form-control form-control-sm"/>
  </div>
  <div>
    <label for='password-signup' class="form label">password:</label>
    <input type='password' id='password-signup' class="login-signup form-control form-control-sm"/>
  </div>
  <div>
    <button type='submit' class="btn btn-primary mt-3">signup</button>
  </div>
</form>
<script src='/javascript/login.js'></script>


