{{> post-info post}}

{{#if loggedIn}}
<div class="comment-form mx-5 my-3">
<form>
    <div class="my-3">
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit" class='btn btn-primary'>add comment</button>
        <button type="button" class="upvote-btn btn btn-success">upvote</button>
    </div>
</form>
</div>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}